.container {
  font-family: sans-serif;
  width: 80%;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.iphone {
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-14-pro-finish-unselect-gallery-1-202209_GEO_US?wid=5120&hei=2880&fmt=p-jpg&qlt=80&.v=1660754213416");
  width: 47%;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
}

.column {
  width: 47%;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.text {
  width: 100%;
  height: 38vh;
  background-color: black;
  border-radius: 30px;
  color: white;
  box-sizing: border-box;
  padding: 30px;
}

.scooter {
  width: 100%;
  height: 37vh;
  background-color: white;
  border-radius: 30px;
  color: black;
  box-sizing: border-box;
  padding: 30px;

}

span {
  color: rgb(228, 165, 31);
}